*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik Mono One', sans-serif;
}
header nav{
  position: fixed;
  right: 0;
  top: 40px;

}
nav li{
  display: inline-block;
  list-style: none;
  margin: 15px;
}
nav li a{
  background-color: #fff;
  border-radius: 50%;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 15px;
}
section{
  height: 100vh;
}
#brend_1{
  background-color: red;
}
#brend_2{
  background-color: green;
}
#brend_3{
  background-color: yellow;
}
